.password-requirements {
    list-style-type: none !important;
    height: 23px;
    @apply p-0;
}

.errors-container {
    height: 23px;
}

.password-requirements .valid {
    @apply  text-bright-blue;
}

.password-requirements .error {
    @apply text-vibrant-purple;
}